.inputAfspraak {
    position: absolute;
    left: 12%;
}

.cancelAfspraak {
    position: absolute;
    left: 24%;
    width: 10%;
}

#submitAfspraak {
    position: absolute;
    width: 10%;
    left: 12%;
}