ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #2C2B2B;
}

li {
    float: left;
    width: calc(100%/8);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

.active {
    background-color: green;
}

.logo {
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

nav {
    position: absolute;
    top: 11%;
    width: calc(100% - 10px);
}

.tekst {
    position: absolute;
    top: 20%;
}

form {
    position: absolute;
    top: 20%;
    width: calc(100% - 10px);
}



