ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #2C2B2B;
}

li {
    float: left;
    width: calc(100%/8);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

.active {
    background-color: green;
}

.inputLogin {
    position: absolute;
    left: 8%;
}

.inputAfspraak {
    position: absolute;
    left: 7%
}

.inputRegistreren {
    position: absolute;
    left: 12%;
}

.cancelAfspraak {
    position: absolute;
    left: 7%
}

.cancelRegistreren {
    position: absolute;
    left: 12%
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 12.5%;
}

nav {
    position: absolute;
    top: 11%;
    width: calc(100% - 10px);
}

.tekst {
    position: absolute;
    top: 20%;
}

form {
    position: absolute;
    top: 20%;
    width: calc(100% - 10px);
}




